<header>
</header>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span9">
            {{outlet}}
        </div>
    </div>
</div>
