<div class="row-fluid">
    <div class="span8 mainbody">
        <img src="./img/logo.jpg"><br>
        {{#each post in model}}
            <div class="post">
                <div class="posttitle">
                    {{#linkTo post post}}{{post.title}}{{/linkTo}}
                </div>
                <div class="postbody">
                    {{markdown post.content}}
                </div>
        {{/each}}
    </div>
    <div class="span2">
        tags
    </div>
</div>
