<div class="row-fluid">
    <div class="span8 mainbody">
        {{view App.PaginationView}}
        <img src="./img/logo.jpg"><br>
        {{#each post in controller.view}}
            <div class="post">
                <div class="posttitle">
                    {{#linkTo post post}}{{post.title}}{{/linkTo}}
                </div>
                <div class="postbody">
                    {{markdown post.content}}
                </div>
        {{/each}}
    </div>
    <div class="span2">
        {{#each tag in App.tagsController}}
            <span class="label">{{tag.title}}</span>
        {{/each}}
    </div>
</div>
