<div class="row-fluid">
    <div class="span8">
        <img src="./img/logo.jpg"><br>
        {{#each post in model}}
            {{#linkTo post post}}{{post.title}}{{/linkTo}}
        {{/each}}
    </div>
    <div class="span2">
        tags
    </div>
</div>
